/* Estilo Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Inter', sans-serif;
    background-image: url(https://i.ibb.co/pXCm3cx/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Garantir que o body ocupe a altura total da tela */
    padding: 0; /* Remover padding para evitar problemas de layout */
}

a.classesone {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    color: #FFC700;
    text-decoration: none;
    margin: 20px;
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: rgb(15, 15, 15);
    border-radius: 6px;
    
}

a.classesone:hover {
    color: #040101;
    
}

h1 {
    color: #FFC700;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.2;
    font-family: 'Emilys Candy', cursive;
    margin-bottom: 20px;
}

p {
    color: rgb(236, 56, 56);
    margin: 0 0 20px 0;
}

.initbutton {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 16px;
    color: rgb(37, 30, 30);
    background-color: #FFC700;
    border: none;
    cursor: pointer;
    padding-bottom: 40px;
    margin: 10px;
}
a{
    color: rgb(240, 128, 128);
}
.box1 {
    padding-top: 30px;
    text-align: center;
    
}

footer {
    margin: 50px 0;
}

/* Estilos específicos */
.item-resultado {
    background: #FFFFFF;
    border-radius: 0.6rem;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #FFC700;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
}

.item-resultado p {
    color: rgb(101, 112, 122);
 
}

/* Responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    .initbutton {
        font-size: 14px;
        padding: 8px 16px;
        width: auto; /* Ajuste o botão para o conteúdo */
    }

    .box1 {
        padding-top: 20px;
    }

    footer {
        margin: 20px 0;
    }
}

@media (max-width: 480px) {
    a.classesone {
        font-size: 14px;
        padding: 8px;
    }

    h1 {
        font-size: 28px;
    }

    .initbutton {
        font-size: 12px;
        padding: 6px 12px;
    }
}
